
{% for user in users %}

    {% if not user.is_admin %}
        <table>
            <tr>
                <td>Please approve login for {{user.user.username}}</td>
                <td><a href="{% url 'registration:pending_requests' %}">Aprove User</a></td>
            </tr>
        </table>
    {% else %}

    {% endif %}
{% endfor %}

<p>
    <a href="{% url 'registration:taskboard' %}">View Task</a>
</p>

<p>
    <a href="{% url 'registration:add_task' %}">Assign Task</a>
</p>

<a href="{% url 'registration:logout' %}"><button class="btn">Logout</button></a>
